body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.underline-on-hover{
  text-decoration: none;
}

.underline-on-hover:hover{
  text-decoration: underline;
}

.nav-btn{
  color: white;
}

.nav-btn-outline{
  color: white;
  border-color: white;
}

.nav-btn:hover{
  color: darkgrey;
}

.nav-btn-outline:hover{
  color: darkgrey;
  border-color: darkgrey;
}

.tooltip-inner {
  max-width: var(--bs-tooltip-max-width);
  padding: var(--bs-tooltip-padding-y) var(--bs-tooltip-padding-x);
  color: var(--bs-tooltip-color);
  text-align: center;
  background-color: white;
  border-radius: var(--bs-tooltip-border-radius);
}

.tooltip{
  background-color: white;
  --bs-tooltip-bg: white;
}
